
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Monsterlite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Monster admin lite design, Monster admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Monster Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>FILMRB</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monster-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Areas/System/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/Areas/System/plugins/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Areas/System/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Style/fontawesome-free-5.15.4-web/css/all.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin6">
                    <a class="navbar-brand" href="~/Admin/AdminHome">
                        <b class="logo-icon">
                            <i class="fas fa-film text-warning fa-2x">FilmRB</i>

                        </b>
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            @*<img src="~/Content/images/LG1.jpg" alt="homepage" class="dark-logo" />*@

                        </span>
                    </a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                       href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav me-auto mt-md-0 ">
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search ps-3">
                                <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
        <div class="page-wrapper">
            @RenderBody()
        </div>

    </div>

    <script src="~/Areas/System/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/Areas/System/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/System/js/app-style-switcher.js"></script>
    <script src="~/Areas/System/js/waves.js"></script>
    <script src="~/Areas/System/js/sidebarmenu.js"></script>
    <script src="~/Areas/System/js/custom.js"></script>
    <script src="~/Areas/System/plugins/flot/jquery.flot.js"></script>
    <script src="~/Areas/System/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/Areas/System/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>